         body {
            margin: 0;
            overflow: hidden;
        }

        .loading-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000;
            position: absolute;
            width: 100%;
            z-index: 9999;
        }

        .loading-image {
            max-width: 40%;
            height: auto;
            margin-bottom: 20px;
        }

        .loader {
            width: 50px; 
            height: 50px;
        }

        .login-screen {
            display: none; 
            height: 100vh;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(5px); 
            position: relative;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            text-align: center;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }

        .login-container h2 {
            color: #fff;
            margin-bottom: 15px;
        }

        .login-container input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.2);
            color: #fff;
        }

        .login-container button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background: #4CAF50;
            color: white;
            cursor: pointer;
        }

        .login-container button:hover {
            background: #45a049;
        }
